
body {
    background-color: #333; /* 어두운 회색으로 설정 */
}

.carousel_main{
    width: 1000px;
    cursor: crosshair; 
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
}

.carousel_wrapper {
    display: flex;
    transition: transform 0.1s;
}

.carousel_slide {
    width: 100%;
    height: 100%;
    position: static;
}

.carousel_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carousel_button_container {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel_button {
    width: 50px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel_prev {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
}

.carousel_next {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
}

.box_controls {
    color: white;
}

.labellistinfo {
    color: white;
}

.Page {
    color: white;
}

.index {
    color: white;
}

.pagecontrol {
    width: 80%; /* Adjust the width as per your preference */
    margin: 0 auto; /* Center-align the element horizontally */
    display: block; /* Ensure it's a block-level element for margin: 0 auto to work */
}

.carousel_circle.active {
    background-color: #333;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.labelButtonList {
    color: white;
}
.label-button:hover {
    background-color: #0056b3;
}

#colorPicker {
    height: 40px; /* Adjust as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buttonContainer {
    position: absolute;
    top: 80px;
    left: 30px;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* 반투명 배경 */
    z-index: 1; /* 다른 요소 위에 표시 */
}

/* 모달 내부 콘텐츠 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}