{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group m-3">
            <label>Upload files</label>
            <input required name="files" type="file" multiple class="form-control-file">
        </div>
    
        <button type='submit' class="btn btn-primary m-3">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Home</a>
    </form>

</div>
{% endblock%}