
{% load static %}
{% load bootstrap4 %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Labeling Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/imageslider.css' %}">

</head>
<body>
    <a href="{% url 'home' %}" class="btn btn-secondary mt-0">
        <button class="btn btn-secondary mt-0">Home</button>
    </a>
    <button class="btn btn-secondary mt-0" id="helpButton">help</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>주의사항 : 화면 크기를 조정할경우 F5(새로고침)을 해주어야 원할한 라벨링이 가능합니다.</p>
            <p>right mouse : 박스 삭제</p>
            <p>Ctrl + z : 실행 취소</p>
            <p>Ctrl + s : 현제 박스정보 저장</p>
            <p>right : 현제 페이지 박스정보 저장 후 페이지 한칸 오른쪽 이동</p>
            <p>left : 현제 페이지 박스정보 저장 후 페이지 한칸 왼쪽 이동</p>
            <p>d : 현제 페이지 박스정보 저장 후 페이지 한칸 오른쪽 이동</p>
            <p>a : 현제 페이지 박스정보 저장 후 페이지 한칸 왼쪽 이동</p>
            <p>up : 라벨버튼 위로 이동</p>
            <p>down : 라벨버튼 아래로 이동</p>
            <p>w : 라벨버튼 위로 이동</p>
            <p>s : 라벨버튼 아래로 이동</p>
        </div>
    </div>

    <div class="box_controls">
        <label for="volume">BOXSIZE</label>
        <input type="range" id="boxsize" name="volume" min="1" max="5" step="1" value="2"/>
        <span id="boxsizeValue">2  </span>
        {% comment %} <label for="volume">Volume</label>
        <input type="text" id="labelInput" placeholder="Enter label name"> {% endcomment %}
    </div> 

    <div id="buttonContainer" style="overflow:auto; width:300px; height:400px;">
        {% for label in labelList %}
            <div class="labelButtonList">
                <input type="color" id="labelcolor" data-index="{{ forloop.counter0 }}" value="{{ label.1 }}">Index: {{ forloop.counter0 }}</input>
                <button id="labelButton" style="background-color: {{ label.1 }};" class="label-button">{{ label.0 }}</button>
            </div> 
        {% endfor %}     
    </div>
    
    <div class="carousel_main" id="image">
        <div class="carousel_wrapper" > 
            {% for list in images %}
              <div  class="carousel_slide"  data-description="{{ list.description }}" data-image-count="{{ images|length }}" >
                <img src="{{ list.image.url }}" alt="{{ list.title }}" style="width: 1000px; height: 600px;">
              </div> 
            {% endfor %}
          </div>
    </div>

    <div class="carousel_button_container">
        <button type="button" class="carousel_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="60" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button type="button" class="carousel_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="60" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>

    <input type="range" class="pagecontrol" id="pageindex" name="volume" min="0" max="{{ images|length|add:"-1" }}" step="1" value="1"/>
    <div id="labellistinfo" class="labellistinfo"></div>
    <div id="Page" class="Page"></div>
    <div id="mouseRight"></div>
    <div id="ButtonColor"></div>
    <div id="index" class="index"></div>
    <!-- 페이지 콘텐츠 -->

    <pre id="BoxesInfo"></pre>

    <!-- JavaScript 파일 연결 -->
    <script src="{% static 'js/imageslider.js' %}"></script>
    <script src="{% static 'js/viewbox.js' %}"></script>
    <script src="{% static 'js/kebord.js' %}"></script>
</body>
</html>

{% endblock%}