<!-- Django 템플릿 상단에 이러한 태그를 추가합니다 -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
</head>
<body>
    <div class="carousel_main" id="image">
        <div class="carousel_wrapper" > 
            {% for list in images %}
              <div  class="carousel_slide"  data-description="{{ list.description }}" data-image-count="{{ images|length }}" >
                <img src="{{ list.image.url }}" alt="{{ list.title }}" style="width: 800px; height: 500px;">
              </div> 
            {% endfor %}
          </div>
    </div>
    <div class="carousel_button_container">
        <button type="button" class="carousel_prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="60" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
        </button>
        <button type="button" class="carousel_next">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="60" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
    </div>
    <div class="carousel_pagination">
        {% comment %} <div class="carousel_circle"></div>
        <div class="carousel_circle"></div>
        <div class="carousel_circle"></div>
        <div class="carousel_circle"></div> {% endcomment %}
        {% for list in images %}
            <div class="carousel_circle"></div>
        {% endfor %}
    </div>
    <div id="mouseCoordinates"></div>
    <div id="mouseCoordinatesXY"></div>
    <div id="mouseCoordinatesPage"></div>
    <div id="mouseRight"></div>
    <div id="Page"></div>
    <div id="index"></div>
    <!-- 페이지 콘텐츠 -->

    <div id="boundingBoxInfo"></div>
    <pre id="boundingBoxesInfo"></pre>
    <pre id="BoxesInfo"></pre>

    <!-- JavaScript 파일 연결 -->
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/viewbox.js' %}"></script>
</body>
</html>

